body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  text-align: center;
}

#robot {
  position: relative;
  width: 200px;
  height: 400px;
  margin: 50px auto;
}

#head {
  width: 100px;
  height: 100px;
  background-color: yellow;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 50px;
  border: 3px solid black;
}

.eye {
  background-color: green;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 40px;
  left: 20px;
}

#righteye {
  left: 60px;
}

#body {
  width: 100px;
  height: 150px;
  background-color: lightblue;
  position: absolute;
  top: 100px;
  left: 50px;
  border-radius: 10px;
}

p {
  font-family: "Comic Sans MS", cursive;
  font-size: 1.2em;
  color: white;
  text-align: center;
  margin: 60px 0 0 0;
}

#leftarm {
  width: 20px;
  height: 100px;
  background-color: orange;
  position: absolute;
  top: 120px;
  left: 30px;  /* Starting position */
}

#rightarm {
  width: 20px;
  height: 100px;
  background-color: orange;
  position: absolute;
  top: 120px;
  left: 150px;
}

#leftleg {
  width: 30px;
  height: 100px;
  background-color: green;
  position: absolute;
  top: 250px;
  left: 40px;
}

#rightleg {
  width: 30px;
  height: 100px;
  background-color: green;
  position: absolute;
  top: 250px;
  left: 130px;
}

button {
  background-color: #FF69B4;  /* Hot pink */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
}

button:hover {
  background-color: #FF1493;
}