body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;  /* Light blue page */
  text-align: center;  /* Center robot */
}

#robot {
  position: relative;
  width: 200px;
  height: 400px;
  margin: 50px auto;  /* Center on page */
}

#head {
  width: 100px;
  height: 100px;
  background-color: yellow;  /* Fun yellow head */
  border-radius: 50px;  /* Rounded */
  position: absolute;
  top: 0;
  left: 50px;
  border: 3px solid black;  /* Outline */
}

.eye {
  background-color: green;  /* Green eyes */
  width: 20px;
  height: 20px;
  border-radius: 50%;  /* Circles */
  position: absolute;
  top: 40px;
  left: 20px;
}

#righteye {
  left: 60px;  /* Right eye position */
}

#body {
  width: 100px;
  height: 150px;
  background-color: lightblue;  /* Blue shirt bg */
  position: absolute;
  top: 100px;
  left: 50px;
  border-radius: 10px;
}

p {
  font-family: "Comic Sans MS", cursive;  /* Fun font */
  font-size: 1.2em;
  color: white;  /* White text */
  text-align: center;
  margin: 60px 0 0 0;
}

#leftarm {
  width: 20px;
  height: 100px;
  background-color: orange;  /* Orange arms */
  position: absolute;
  top: 120px;
  left: 30px;
}

#rightarm {
  width: 20px;
  height: 100px;
  background-color: orange;
  position: absolute;
  top: 120px;
  left: 150px;
}

#leftleg {
  width: 30px;
  height: 100px;
  background-color: green;  /* Green legs */
  position: absolute;
  top: 250px;
  left: 40px;
}

#rightleg {
  width: 30px;
  height: 100px;
  background-color: green;
  position: absolute;
  top: 250px;
  left: 130px;
}